


<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partes/head') %>
</head>

<body class=" h-100 text-center text-white">
    <%- include('./partes/navbar') %>

    
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Blogs creados</h1>
                    <p class="lead text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, incidunt nostrum sint quos eligendi aperiam, eaque enim facilis quidem in consequatur magni ipsa aut accusamus?<p>
                        <a href="/" class="btn  btn-primary my-2"> Inicio</a>
                        <a href="/postForm" class="btn btn-success my-2">Publicar Blog</a>
                    </p>
                </div>
            </div>
        </section>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                    <% listaDePosts.forEach((post) => { %>
                        <!-- if estado == true   (para el borrado logico)-->

                        <!-- Una carta de un blog -->
                        <div class="col">
                            <div class="card shadow-sm text-black">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="255" src="<%= post.link_imagen %>" alt="imagen del blog.">
                                <div class="card-body">
                                    <h5 class="card-title"><%= post.titulo  %></h5>
                                    <p class="card-text"> <%= post.contenido %> </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button> -->
                                            <a href="/editarPost/<%= post.id %>" class="btn btn-sm btn-outline-warning" role="button">Editar</a>
                                            <a href="/postElimnar/<%= post.id %>" class="btn btn-sm btn-outline-danger" role="button">Eliminar</a>
                                        </div>
                                        <small class="text-muted"> <%= post.createdAt %></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>

                </div>
            </div>
        </div>
    </main>


    <%- include('./partes/scripts') %>
    <%- include('./partes/footer') %>
</body>

</html>