<div class="col">
    <div class="card shadow-sm text-black">
        <img class="bd-placeholder-img card-img-top" width="100%" height="255" src="<%= post.link_imagen %>" alt="imagen del blog.">
        <div class="card-body">
            <h5 class="card-title"><%= post.titulo  %></h5>
            <p class="card-text"> <%= post.contenido %> </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button> -->
                    <a href="/editarPost/<%= post.id %>" class="btn btn-sm btn-outline-warning" role="button">Editar</a>
                    <a href="/postElimnar/<%= post.id %>" class="btn btn-sm btn-outline-danger" role="button">Eliminar</a>
                </div>
                <small class="text-muted">Autor: <%= post.autor %></small>
            </div>
            <div class="card-footer m-2">
                <small class="text-body-secondary"> <%= post.fecha_creacion %></small>
            </div>
            
        </div>
    </div>
</div>